.main-div{
    width: 98%;
    position: absolute;
    margin-top: 3%;
    padding: 3%;
}
.shipping{
    float: right;
    position: relative;
}
.products{
    width: fit-content;
    min-height: 220px;
}
#delete{
    color: red;
    cursor: pointer;
}