.products{
    width: 110%;
    margin-left: 300%;
    margin-top: 15%;
    margin-bottom: 5%;
    border: 3px solid grey;
}
.phone-images{
    height: 200px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.product-name{
    text-align: center;
}
.product-price{
    text-align: center;
    font-size: 17px;
}
.buy-details{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/